<div class="absolute z-1 bg-gray-900 opacity-50 h-screen w-screen"
  *ngIf="!base.isHidden"></div>
<img class="absolute z-2" [src]="base.sergioImage"
  [ngStyle]="{'left.px': base.sergioX, 'top.px': base.sergioY}"
  *ngIf="base.isSergio">
<p-panel class="absolute z-2"
  [ngStyle]="{'left.px': base.explanationX, 'top.px': base.explanationY}"
  *ngIf="base.isExplanation">
  <p class="text-lg m-0 max-w-20rem">{{ base.explanation }}</p>
</p-panel>
<p-button class="absolute" styleClass="text-xl font-bold"
  [ngStyle]="{'left.px': 1450, 'top.px': 650, 'z-index': 100}"
  *ngIf="base.isFoward" (onClick)="next()">&rarr;</p-button>
<p-button class="absolute" styleClass="text-xl font-bold"
  [ngStyle]="{'left.px': 1350, 'top.px': 650, 'z-index': 100}"
  *ngIf="base.isBack" (onClick)="back()">&larr;</p-button>
