@import url("https://unpkg.com/primeflex@latest/primeflex.css");
@tailwind base;
@tailwind components;
body{
  margin: 0;
}
div{
--p-panel-header-padding: 0;
--p-panel-content-padding: 1rem;
--p-toolbar-padding: 0;
}
.app-container {
  height: 100%;
  width: 100%;
}
